In [10]:
import pandas as pd

In [11]:
"""
1. Create a data frame with details of 10 students and columns as Roll Number, Name, 
Gender, Marks1, Marks2, Marks3.
"""

data = {'Roll Number': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
        'Gender': ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F'],
        'Marks1': [90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
        'Marks2': [80, 70, 60, 50, 40, 30, 20, 10, 0, 90],
        'Marks3': [70, 60, 50, 40, 30, 20, 10, 0, 90, 80]}

df = pd.DataFrame(data)

In [12]:
"""
2. Create a new column with total marks
"""
df['Total Marks'] = df['Marks1'] + df['Marks2'] + df['Marks3']

In [13]:
"""
3. Find the lowest marks in Marks1
"""
lowest_marks1 = df['Marks1'].min()

In [14]:
"""
4. Find the Highest marks in Marks2
""" 
highest_marks2 = df['Marks2'].max()

In [15]:
"""
5. Find the average marks in Marks3
"""
average_marks3 = df['Marks3'].mean()

In [16]:
"""
6. Find student name with highest average
"""
df['Average Marks'] = (df['Marks1'] + df['Marks2'] + df['Marks3']) / 3
highest_average_student = df[df['Average Marks'] == df['Average Marks'].max()]['Name'].values[0]

In [17]:
"""
7. Find how many students failed in Marks2 (<40)
"""
failed_students = df[df['Marks2'] < 40].shape[0]

In [18]:
"""
8. Create a table with the 5-number summary of all the numeric attributes.
"""
table = df.describe()